<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HueVal</key>
	<integer>1</integer>
	<key>HueMax</key>
	<integer>1</integer>
	<key>HueMin</key>
	<integer>0</integer>
	<key>HueInc</key>
	<real>0.05</real>
	<key>HueFac</key>
	<integer>1</integer>
	<key>DurationVal</key>
	<integer>60</integer>
	<key>DurationMax</key>
	<integer>960</integer>
	<key>DurationMin</key>
	<integer>15</integer>
	<key>DurationInc</key>
	<integer>0</integer>
	<key>DurationFac</key>
	<integer>2</integer>
	<key>BPMVal</key>
	<integer>60</integer>
	<key>BPMMax</key>
	<integer>240</integer>
	<key>BPMMin</key>
	<integer>15</integer>
	<key>BPMInc</key>
	<integer>5</integer>
	<key>BPMFac</key>
	<integer>1</integer>
	<key>RadiusVal</key>
	<integer>50</integer>
	<key>RadiusMax</key>
	<integer>320</integer>
	<key>RadiusMin</key>
	<integer>5</integer>
	<key>RadiusInc</key>
	<integer>0</integer>
	<key>RadiusFac</key>
	<real>1.5</real>
	<key>OffsetMax</key>
	<real>0.5</real>
	<key>OffsetMin</key>
	<real>-0.5</real>
	<key>OffsetVal</key>
	<integer>0</integer>
	<key>OffsetInc</key>
	<real>0.1</real>
	<key>OffsetFac</key>
	<integer>1</integer>
	<key>SoundVal</key>
	<integer>0</integer>
	<key>FormVal</key>
	<integer>0</integer>
	<key>CanvasVal</key>
	<integer>1</integer>
	<key>CanvasMin</key>
	<integer>0</integer>
	<key>CanvasMax</key>
	<integer>1</integer>
	<key>CanvasInc</key>
	<real>0.05</real>
	<key>CanvasFac</key>
	<integer>1</integer>
</dict>
</plist>
